@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* max-width: 1280px; */
    /* margin: 0 auto; */
}

button {
    cursor: pointer;
}

/* navbar section */
a {
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;

    /* background: #000; */
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 2px -2px gray; */
    box-shadow: 0px 15px 10px -15px #cacaca;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
}

.logo img {
    width: 50px;
    margin-right: 1rem;
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar .nav-links a {
    margin: 0 1rem;

}

.navbar .nav-links a:nth-child(3) {
    background: whitesmoke;
    padding: .5rem 1rem;
    border-radius: .3rem;
}


.home {
    max-width: 1280px;
    margin: 0 auto;

    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home-left {
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 45vw;

    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 1rem;
    height: 100vh;

}

.home-right {
    width: 45vw;

}

.home-right img {
    width: 100%;
}

.home .home-text {
    width: 25vw;
    margin: auto 0;
}

.home h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.home h4 {
    color: gray;
    margin: .3rem 0;
    font-weight: 400;
}

.home .buttons {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.home button {
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    border: none;
    padding: .8rem 1.5rem;
}

.home button:nth-child(1) {
    background: #f2358a;
}

.home button:nth-child(2) {
    background: #3bbaf5;

}



/* we are gamer */

.we-are-gamer-section {
    width: 100%;
    background: rgb(255, 238, 247);

}

.we-are-gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.we-are-gamer div:nth-child(1) {
    width: 50%;
}

.we-are-gamer div:nth-child(2) {
    width: 30%;
    text-align: right;
}

.we-are-gamer h1 {
    color: #f2358a;
    font-weight: 700;
}

.we-are-gamer h5 {
    margin: 1rem 0;
    color: #9e9e9e;
    font-weight: 400;
}

.we-are-gamer button {
    background: #f2358a;
    border: none;
    padding: 1rem 2rem;
    color: white;
    border-radius: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.we-are-gamer h4 {
    color: #313131;
    margin-bottom: .5rem;
}

.we-are-gamer h3 {
    color: gray;
}


/* online games */
.online-games {
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;

}

.title-text {
    text-align: center;
    margin: 2rem 0;
}

.title-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.title-text p {
    color: gray;
}

.watch-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watch-card {
    width: 300px;
    height: 150px
}

.watch {

    width: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
    height: 300px;
    overflow: hidden;
    border-radius: 1rem;

    overflow: hidden;
}

.watch1 {
    background: url('./images/Rectangle\ 4.png');
}

.watch2 {
    background: url('./images/Rectangle\ 5.png');
}

.watch3 {
    background: url('./images/Rectangle\ 7.png');
}

.watch4 {
    background: url('./images/Rectangle\ 6.png');
}

.watch-info {
    opacity: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.watch-info h2 {
    color: #f2358a;
    font-size: 1rem;
}

.watch-card h4 {
    color: rgb(95, 94, 94);
    font-weight: 500;
    margin-top: 1rem;
}

.watch-info:hover {
    opacity: 1;
}


/* play instantly */
.play-instantly {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-instantly-left {
    width: 50%;
    margin: 0 auto;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.play-instantly-left div {
    width: 45%;
    text-align: right;

}

.play-instantly-left h1 {
    font-size: 2rem;
    font-weight: 800;
}

.play-instantly-left h1:nth-child(1) {
    color: #f2358a;
}

.play-instantly-right {
    width: 40%;
    background: url('./images/Rectangle\ 55.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
}

.play-instantly-right img {
    width: 200px;
    height: 200px;
    position: relative;
    top: 23rem;
    right: 5rem;

}




/* games section */
.games {
    max-width: 1280px;
    margin: 0 auto;
    height: auto;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.games button {
    border: none;
    display: flex;
    align-items: center;
    width: 220px;
    background: none;
    padding: .5rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3rem;
    margin: 1rem auto;
}

.games button:hover {
    border: 1px solid #f2358a
}

.games button:hover h4 {
    color: #f2358a
}

.games button img {
    width: 50px;
    margin-right: 1rem;
}



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #0B0223;
    padding: 4rem;
    color: white;
}

.footer-links {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links a {
    color: white;
    width: 100px;
    margin: 1rem 0;
}

.social i {
    font-size: 30px;
    margin: 1rem;
    border-radius: 1rem;
}

.social i:nth-child(2) {
    background-color: blue;
}

.policies {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.policies a {
    color: darkgray;
    font-size: .8rem;
    width: auto;
    margin: 1rem;
}

footer small {
    color: darkgray;
}


/* mobile  */

@media only screen and (max-width: 600px) {


    .navbar {
        flex-direction: column;
        height: 250px;
        width: auto;
        overflow: hidden;
    }

    .navbar .nav-links {
        flex-direction: column;
        justify-content: space-between;
    }

    /* home part */
    .home {
        flex-direction: column-reverse;
        padding: 1rem 0;
        justify-content: flex-start;
    }

    .home-right {
        width: 80%;
    }


    .home .home-left {
        width: 90%;
        height: 100vh;
    }

    .home-text {
        width: 50vw !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        text-align: center;
    }

    .home h1 {
        font-size: 2rem;
    }

    /* we are gamer */

    .we-are-gamer {
        flex-direction: column;
        padding: 2rem;
    }

    .we-are-gamer img {
        width: 100%;
    }

    .we-are-gamer div:nth-child(1) {
        width: 100%;
    }

    .we-are-gamer div:nth-child(2) {
        width: 100%;
        text-align: center;
    }


    /* online games */
    .online-games {
        padding: 2rem;
        height: auto;

    }

    .title-text h1 {
        font-size: 1.5rem;
    }

    .title-text p {
        font-size: .8rem;
    }

    .watch-cards {
        flex-direction: column;
    }

    .watch-card {
        width: 80%;
        height: 80%;
    }

    .watch {
        width: 100%;
        margin: 2rem 0
            /* height: 100%; */
    }


    /* play instantly */
    .play-instantly {
        flex-direction: column;
        padding: 2rem;
        height: auto;
    }

    .play-instantly div {
        width: 80%;
    }

    .play-instantly-right {
        width: 80%;
        height: 100vh;
    }

    .play-instantly-right img {
        width: 150px;
        height: 150px;
        right: 4rem;
    }

    .games button {
        width: auto;
    }




}

/* laptop */

@media only screen and (max-width: 768px) {
    .navbar {
        max-width: 90vw;

    }

    /* home part */
    .home {
        max-width: 90vh;
        flex-direction: column;
    }

    .home-left {
        /* width: 50vh;
         */
        width: 90vw;
        text-align: center;

    }

    .home-text {
        width: 100% !important;

    }

    .home-right {
        width: 90vw;
    }

    /* .we-are-gamer */

    .we-are-gamer {
        flex-direction: column-reverse;
        max-width: 90vw;
        padding-top: 3rem;
    }

    .we-are-gamer div {
        width: 100% !important;

    }

    .we-are-gamer div:nth-child(2) {
        text-align: center;
    }

    .we-are-gamer h1 {
        font-size: 3rem;
    }

    .we-are-gamer div img {
        width: 100%;
    }

    /* online games part */

    .online-games {
        width: 90vw;
        height: auto;
    }

    .watch-cards {
        flex-wrap: wrap;
    }

    .watch-card {
        width: 300px;
        height: auto;
        margin: 1rem 0;
    }

    /* play instantly */
    .play-instantly {
        flex-direction: column;
        width: 90vw;
        height: auto;
    }

    .play-instantly-left div {
        width: 100% !important;
        text-align: center;
        /* background: #000; */
    }

    .play-instantly-left div h1 {
        font-size: 2.5rem;
    }

    .play-instantly-right {
        width: 100%;
        margin-top: 2rem;
    }

    .play-instantly-right img {
        left: 1.5rem
    }
}